googledrivedownloader==0.4
gradio
scikit-learn
torch
opencv-python
matplotlib
tqdm
ipython-genutils
torchvision
tensorboardX==2.1
ipykernel==5.3.4
ConfigArgParse==1.2.3
requests==2.24.0
p_tqdm==1.3.3
skops
scikit-image
